### 1. What is 7th Column name in the given dataset and What is the datatype of it

In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv('Matches.csv')

In [17]:
df.head()

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Runds Scored,Highest Score,Batting Average,Balls Faced,Batting Strike Rate,Bowling Economy Rate
0,Delhi Daredevils,CH Morris,IPL 2016,12,7,4,195,82*,65.00,109,178.89,7.00
1,Delhi Daredevils,CH Morris,IPL 2017,9,9,4,154,52*,30.80,94,163.82,7.74
2,Delhi Daredevils,CH Morris,IPL 2018,4,4,3,46,27*,46.00,26,176.92,10.21
3,Delhi Daredevils,JP Duminy,IPL 2016,10,8,3,191,49*,38.20,156,122.43,7.85
4,Delhi Daredevils,Q de Kock,IPL 2016,13,13,1,445,108,37.08,327,136.08,NaN

In [24]:
seven = df.columns[7]
print(seven)

Highest Score

In [29]:
df['Highest Score'].dtype

dtype('O')

### 2. Change 6th column name to Runs Scored and Calculate the total Runs Scored by all Players.

In [33]:
df.rename({'Runds Scored':'Total Runs'},axis=1,inplace=True)

In [34]:
df.head()

,Team,Player,Tournament,Matches,Batting Innings,Not Out,Total Runs,Highest Score,Batting Average,Balls Faced,Batting Strike Rate,Bowling Economy Rate
0,Delhi Daredevils,CH Morris,IPL 2016,12,7,4,195,82*,65.00,109,178.89,7.00
1,Delhi Daredevils,CH Morris,IPL 2017,9,9,4,154,52*,30.80,94,163.82,7.74
2,Delhi Daredevils,CH Morris,IPL 2018,4,4,3,46,27*,46.00,26,176.92,10.21
3,Delhi Daredevils,JP Duminy,IPL 2016,10,8,3,191,49*,38.20,156,122.43,7.85
4,Delhi Daredevils,Q de Kock,IPL 2016,13,13,1,445,108,37.08,327,136.08,NaN

In [156]:
# total runs scrored by all players 
df['Total Runs'].sum()

73540

### 3. Which team has Highest frequency.

In [39]:
df['Team'].mode()

0    Royal Challengers Bangalore
Name: Team, dtype: object

### 4. Which Team Player has Highest  Batting Strike Rate.

In [48]:
df.groupby(['Team'])['Batting Strike Rate'].max().sort_values(ascending=False)

Team
Delhi Capitals                 333.33
Chennai Super Kings            300.00
Kolkata Knight Riders          300.00
Rajasthan Royals               266.66
Sunrisers Hyderabad            250.00
Kings XI Punjab                233.33
Mumbai Indians                 233.33
Rising Pune Supergiant         233.33
Delhi Daredevils               218.42
Royal Challengers Bangalore    212.90
Rising Pune Supergiants        177.77
Gujarat Lions                  176.66
Name: Batting Strike Rate, dtype: float64

### 5. How many Players are there whose Runs Scored is greater than 300.

In [157]:
df[df['Total Runs']>300].count()

Team                    94
Player                  94
Tournament              94
Matches                 94
Batting Innings         94
Not Out                 94
Total Runs              94
Highest Score           94
Batting Average         94
Balls Faced             94
Batting Strike Rate     94
Bowling Economy Rate    18
dtype: int64

### 6. Which Player faced more balls in 2016.

In [67]:
 more_balls = df[df['Tournament'] == 'IPL 2016']['Balls Faced'].max()

In [68]:
df[df['Balls Faced']==more_balls]['Player']

298    V Kohli
Name: Player, dtype: object

### 7. Calculate the Total Matches Played by Player V Kohli.

In [77]:
df[df['Player'] == "V Kohli"]["Matches"].sum()

54

### 8. Find the Player by following conditions  
- Player  Batting Strike Rate is greater than 200.  
- Player Bowling Economy Rate is less than 8

In [82]:
df[(df['Batting Strike Rate'] >200.00 )& (df['Bowling Economy Rate']<8)]['Player']

621    I Sharma
Name: Player, dtype: object

### 9. Find the Number of Player whose Bowling Economy Rate is greater than 5 and less than 8.

In [87]:
df[(df['Bowling Economy Rate'] >5 )& (df['Bowling Economy Rate']<8)]['Player'].count()

128

### 10. How many Player from Royal Challengers Bangalore Team Played in year 2018

In [89]:
df[(df['Tournament'] == 'IPL 2018') & (df['Team'] =='Royal Challengers Bangalore')]['Player'].count()

20

### 11. Find the  Batting Strike Rate  of 5th Highest  Balls Faced Player.

In [107]:
highest = df.sort_values(by=['Balls Faced'],ascending=False).head(5)
highest['Batting Strike Rate'].tail(1)

385    141.81
Name: Batting Strike Rate, dtype: float64

### 12. What is the Player name in 335th Row.

In [113]:
df.loc[335]['Player']

'YS Chahal'

### 13. What are the Total Runs Scored between 300th row to 400th row in your DataFrame.

In [118]:
df.loc[300:400]['Total Runs'].sum()

13550

### 14. Find Total Number of Players Played in Delhi Daredevils Team in all years.

In [128]:
df[df['Team']=='Delhi Daredevils']['Player'].count()

59

### 15. What is the difference between Runs Scored by Players V Kohli and DA Warner in year 2016

In [152]:
virat = df[(df['Tournament'] == 'IPL 2016') & (df['Player']=='V Kohli') ]['Total Runs'].sum()
virat

973

In [154]:
DA_warner = df[(df['Tournament'] == 'IPL 2016') & (df['Player']=='DA Warner') ]['Total Runs'].sum()
DA_warner

848

In [155]:
 virat - DA_warner

125